{% extends "index.html" %}

{% block content %}
    <div class="jumbotron text-center" style="padding-top: 9%">
        <h1><span class="element"></span></h1><span class="typed-cursor"></span>
        <br>
        <br>
    </div>

    <div class="container" id="about">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 co-xs-12 text-center">
                <hr style=" padding-top: 0%"><br>
                <h3><label><b>With easy searching and everything organized, you are more productive</b></label></h3>
            </div>
        </div> <!-- ./row -->
    </div> <!-- ./cotainer -->
{% endblock %}
